*{
    box-sizing: border-box;
}
.app {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 2.5rem 4rem;

}
.search-bar {
    display: flex;
    flex-direction: row;
    padding: 8px;
    width: 100%;
    justify-content: center;
}

input.search {
    outline: none;
    width: 300px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 16px;
    color: #434A93;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.3);
}

.result-box {
    min-width: 300px;
    border-radius: 5px;
    padding: 4px 8px;
    min-height: 39px;
    margin-top: 8px;
    border: 1px solid rgba(0,0,0,0.3);
    font-size: 14px;
    line-height: 16px;
    color: #434A93;
    display: flex;
    flex-direction: column;

}
.result-box span {
    margin: 4px 0;
}

.data-box {
    min-width: 300px;
    margin-top: 8px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.3);
    font-size: 14px;
    line-height: 16px;
    color: #434A93;
    display: flex;
    flex-direction: column;
    padding: 8px 12px;
}

.data-entry {
    margin-top: 6px;
    margin-bottom: 6px;
}

